@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500,700|Roboto:100,300,400,500,700,900');

body {
  background-color: #333;
  margin: 0;
  overflow: hidden;
}

#loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loading h1 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
}

#loading h1::after {
  content: "";
  animation: loading-dots 2000ms infinite linear;
}

#loading:not(.active) {
  display: none;
}

@keyframes loading-dots {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
}

#countdown {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#countdown #time-left-hours {
  font-family: 'Roboto Mono', monospace;
  font-size: 125px;
  color: #fff;
  font-weight: 100;
}

#countdown #time-left-hours .hours, #countdown #time-left-hours .minutes {
  font-weight: 400;
}

@media (max-width: 600px) {
  #countdown #time-left-hours {
    font-size: 80px;
  }
}

@media (max-width: 400px) {
  #countdown #time-left-hours {
    font-size: 65px;
  }
}

#countdown #time-left-minutes {
  font-family: 'Roboto Mono', monospace;
  font-size: 90px;
  color: #fff;
  font-weight: 200;
}

#countdown #time-left-minutes .minutes {
  font-weight: 400;
}

@media (max-width: 350px) {
  #countdown #time-left-minutes {
    font-size: 75px;
  }
}

#countdown #time-left-seconds {
  font-family: 'Roboto Mono', monospace;
  font-size: 400px;
  color: #fff;
}

@media (max-width: 600px) {
  #countdown #time-left-seconds {
    font-size: 300px;
  }
}

@media (max-width: 450px) {
  #countdown #time-left-seconds {
    font-size: 200px;
  }
}

#countdown .time-left:not(.active) {
  display: none;
}

#countdown:not(.active) {
  display: none;
}

#new-year {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#new-year .year {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 300px;
  font-weight: 200;
}

#new-year:not(.active) {
  display: none;
}

@media (max-width: 750px) {
  #new-year .year {
    font-size: 200px;
  }
}

@media (max-width: 450px) {
  #new-year .year {
    font-size: 125px;
  }
}
